.description-card {
  width: 100%;
  max-width: 600px; /* Adjust width as needed */
  margin: 20px;
}

.main-title {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.sub-title {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
}
