
.confirmation-chip-list {
  display: flex;
  justify-content: center;
}

.confirmation-label {
  margin-right: 8px; // Adjust as needed
}


.description-frame {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  background-color: rgb(20, 180, 180);
  overflow-y: auto;
}
.description{
  display: flex;
  flex-direction: column;
  // justify-content: center; /* Center vertically */
  align-items:center;
}
.iconn{
  display: flex;
  flex-direction:initial;
  // justify-content: center; /* Center vertically */
  // align-items:center;
}
.search-container{
  display: flex;
  justify-content: space-between;

}

.search-icon,.menu-icon {
  display: flex;
  align-items: center;
  //margin-left: 16px; /* Adjust spacing between icons */
}

.icons-container {
  display: flex;
  align-items: center;
}
.search-field {
  flex: 1;
  margin-right: 16px;
}
  .search-wrapper {
    position: relative;
    padding-top: 10px;
    //left:20%;
  }

  input[type=text] {
    width: calc(100% - 30px); /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .checklist {
    position: absolute;
    top: calc(100% ); /* Adjust the positioning */
    left: 0;
    width: calc(100% - 30px ); /* Adjust the width to match the input */
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px; /* Adjust border-radius */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    overflow-y: auto;
  }

  .search-wrapper:focus-within .checklist {
    display: block;
  }

.dropdown-menu {
  top: 100%; /* Position below the icon */
  left: 0;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: auto; /* Ensures the width adapts to content */
}

.dropdown-menu button {
  display: block;
  padding: 8px;
  background: white;
  border: none;
  text-align: left;
  cursor: pointer;
  white-space: nowrap; /* Prevents text wrapping */
}

.dropdown-menu button:hover {
  background: #f0f0f0;
}
