#custom-toolbar {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f5f5f5;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.fileContainer {
  max-width: 400px; /* Adjust width as needed */
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}

.fileContainer h3 {
  margin-bottom: 20px;
  font-weight: 500;
  color: #8a0f0f;
}

.drag-area {
  border: 2px dashed #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon {
  font-size: 48px;
  color: #00aa9b;
}

.header {
  font-size: 24px;
  margin-top: 10px;
  color: #34495e;
}

.hidden-input {
  display: none;
}

#submitButton {
  margin-top: 20px;
  background-color: #00aa9b;
  color: white;
}



.spacer {
  flex: 1; /* Takes up remaining space */
}

.mat-button {
  margin-left: 10px; /* Adjust spacing between buttons */
}
