<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<demo></demo>
<mat-toolbar id="custom-toolbar">
  <div class="header-content">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="addResourceMenu" class="left-button">Yaml</button>
    <mat-menu #addResourceMenu="matMenu">
      <button mat-menu-item [routerLink]="['/create-dynamicform']">Form</button>
    </mat-menu>

    <div class="icons-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>List Resource</span>
        </button>
        <button mat-menu-item routerLink="/monitoring">
          <mat-icon>settings_heart</mat-icon>
          <span>Monitoring</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Helm</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<body>
<div class="fileContainer">
  <h3>Upload your File :</h3>
  <div class="drag-area">
    <div class="icon">
      <i class="fas fa-images"></i>
    </div>
    <span class="header">Drag & Drop</span>
    <span class="support">Supports: Yaml files</span>
  </div>
  <div>
    <input type="file" id="fileInputAlt" />
  </div>
  <div style="margin-bottom: 20px;"></div>

  <div *ngIf="successMessage" style="color: green;">{{ successMessage }}</div>
  <button id="submitButton" (click)="onSubmit()">Submit</button>
</div>
</body>
