.mat-dialog-actions-right {
  display: flex;
  justify-content: flex-end;
}

.mat-button.mat-primary {
  background-color: #4caf50;
  color: white;
}

.mat-button.mat-primary:hover {
  background-color: #388e3c;
}

.bold-text {
  font-weight: bold;
}

.colored-text {
  color: #005573;
}
.colored-text1 {
  color: #117b02;
}
