<h2 mat-dialog-title>Grafana Dashboard</h2>
<div mat-dialog-content>
  <p *ngIf="isLoading">
    <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
    Setting up the monitoring stack. Please wait...
  </p>
  <div *ngIf="!isLoading && grafanaPassword">
    <p>
      <span  class="bold-text colored-text1" >Monitoring stack setup complete.</span>
    </p>
    <br>
    <br>
    <p>
      <span class="bold-text colored-text">This is your grafana account Username:</span> admin
      <br>
      <span class="bold-text colored-text">This is your grafana account Password:</span> {{ grafanaPassword }}
    </p>
  </div>
  <p *ngIf="!isLoading && errorMessage">
    {{ errorMessage }}
  </p>
</div>
<div mat-dialog-actions class="mat-dialog-actions-right">
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-button color="primary" (click)="navigateToExternalUrl()" [disabled]="isLoading || !grafanaPassword">Grafana</button>
</div>
