h3.mat-dialog-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dialog-title {
  margin-right: auto;

}

.close-button {
  margin-left: auto;
}

.header-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 8px 0;
}


.mat-button{
  color: white;
  margin-left: 1.5px;
}
.ok{
  background-color: #f04641;
}
.no{
  background-color: #c4f6ef;
}
