<mat-toolbar class="header">
  <div class="header-left" >
    <img class="artifact" src="assets/images/artifact.png" alt="Logo" >
  </div>
  <div class="header-right">
    <mat-form-field appearance="standard" class="search-bar">
      <input matInput placeholder="Search" >
      <button mat-icon-button matSuffix>
        <mat-icon class="icon">search</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-toolbar>
<div class="center-container">
  <mat-card class="detail-card" appearance="outlined">
    <div class="header-aligned">
      <img mat-card-sm-image src="/assets/images/promotheus.png" alt="Image" class="card-image">
      <div class="card-title-group">
        <mat-card-title>Chart Name</mat-card-title>
      </div>
      <div class="butt">
        <button mat-button class="card-button" (click)="openDialog()">
          <mat-icon>
            <img src="/assets/images/download.svg" alt="Download Icon">
          </mat-icon>
          Helm Chart
        </button>

        <button mat-button class="card-button">
          <mat-icon>
            <img src="/assets/images/value.svg" alt="Download Icon">
          </mat-icon>
          Default Value
        </button>

        <button mat-button class="card-button">
          <mat-icon>
            <img src="/assets/images/template.svg" alt="Download Icon">
          </mat-icon>
          Template
        </button>


      </div>
    </div>
    <mat-card-content>
      <div class="content-wrapper">
        Installs the , a collection of Kubernetes manifests, dashboards, and combined with documentation and scripts to provide easy to operate end-to-end Kubernetes cluster monitoring with using the .

        See the README for details about components, dashboards, and alerts.

        Note: This chart was formerly named prometheus-operator chart, now renamed to more clearly reflect that it installs the kube-prometheus project stack, within which Prometheus Operator is only one component.
      </div>

      <div class="content-wrapper">
        <mat-card-title>Install Helm Chart</mat-card-title>
        <pre><code>helm install [RELEASE_NAME] prometheus-community/kube-prometheus-stack</code></pre>
        <br>
        See <code><a href="https://helm.sh/docs/helm/helm_install/" target="_blank">helm install </a></code> for more information.
      </div>

      <div class="content-wrapper">
        <mat-card-title>Uninstall Helm Chart</mat-card-title>
        <pre><code>helm uninstall [RELEASE_NAME]</code></pre>
        <br>
        <p>This removes all the Kubernetes components associated with the chart and deletes the release.</p>
        See <code><a href="https://helm.sh/docs/helm/helm_uninstall/" target="_blank">helm uninstall </a></code> for more information.
        <p>CRDs created by this chart are not removed by default and should be manually cleaned up:</p>
        <mat-card class="code-block">
          <pre><code>
kubectl delete crd alertmanagerconfigs.monitoring.coreos.com
kubectl delete crd alertmanagers.monitoring.coreos.com
kubectl delete crd podmonitors.monitoring.coreos.com
kubectl delete crd probes.monitoring.coreos.com
kubectl delete crd prometheusagents.monitoring.coreos.com
kubectl delete crd prometheuses.monitoring.coreos.com
kubectl delete crd prometheusrules.monitoring.coreos.com
kubectl delete crd scrapeconfigs.monitoring.coreos.com
kubectl delete crd servicemonitors.monitoring.coreos.com
kubectl delete crd thanosrulers.monitoring.coreos.com
          </code></pre>
        </mat-card>
      </div>

      <div class="content-wrapper">
        <mat-card-title>Upgrading Chart</mat-card-title>
        <pre><code>helm upgrade [RELEASE_NAME] prometheus-community/kube-prometheus-stack</code></pre>
        <br>
        See <code><a href="https://helm.sh/docs/helm/helm_upgrade/" target="_blank">helm upgrade </a></code> for more information.
      </div>

      <div class="content-wrapper">
        <mat-card-title>Configuration</mat-card-title>
        See <a href="https://helm.sh/docs/intro/using_helm/#customizing-the-chart-before-installing" target="_blank">Customizing the Chart Before Installing </a> to see all configurable options with details comments:
        <br>
        <pre><code>helm show values prometheus-community/kube-prometheus-stack</code></pre>
        <br>
        You may also <code>helm show values </code> on this chart's dependencies for additional options.
      </div>
    </mat-card-content>
  </mat-card>
</div>


