<demo></demo>
<div>
  <div>
    <button mat-raised-button color="primary" (click)="toggleResourceOptions()">Select Resources</button>
    <div *ngIf="showResourceOptions" class="resource-options">
      <div>
        <mat-checkbox id="pods" value="pods" (change)="onResourceTypeChange($event, 'pods')" [checked]="isSelected('pods')">Pods</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="namespaces" value="namespaces" (change)="onResourceTypeChange($event, 'namespaces')" [checked]="isSelected('namespaces')">Namespaces</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="replicasets" value="replicasets" (change)="onResourceTypeChange($event, 'replicasets')" [checked]="isSelected('replicasets')">ReplicaSets</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="jobs" value="jobs" (change)="onResourceTypeChange($event, 'jobs')" [checked]="isSelected('jobs')">Jobs</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="nodes" value="nodes" (change)="onResourceTypeChange($event, 'nodes')" [checked]="isSelected('nodes')">Nodes</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="endpoints" value="endpoints" (change)="onResourceTypeChange($event, 'endpoints')" [checked]="isSelected('endpoints')">Endpoints</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="configmaps" value="configmaps" (change)="onResourceTypeChange($event, 'configmaps')" [checked]="isSelected('configmaps')">ConfigMaps</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="ingresses" value="ingresses" (change)="onResourceTypeChange($event, 'ingresses')" [checked]="isSelected('ingresses')">Ingress</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="persistentvolumeclaims" value="persistentvolumeclaims" (change)="onResourceTypeChange($event, 'persistentvolumeclaims')" [checked]="isSelected('persistentvolumeclaims')">PersistentVolumeClaims</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="storageclasses" value="storageclasses" (change)="onResourceTypeChange($event, 'storageclasses')" [checked]="isSelected('storageclasses')">StorageClasses</mat-checkbox>
      </div>
      <div>
        <mat-checkbox id="persistentvolumes" value="persistentvolumes" (change)="onResourceTypeChange($event, 'persistentvolumes')" [checked]="isSelected('persistentvolumes')">PersistentVolumes</mat-checkbox>
      </div>
    </div>
  </div>
</div>
<div #networkContainer style="width: 100%; height: 800px; border: 7px solid lightgray;"></div>
