.header {
  background-color: #00aa9b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 64px;

  .header-left {
    display: flex;
    align-items: center;
  }

  .header-center {
    display: flex;
    align-items: center;

    .artifact {
      height: 50px;
      margin-right: 8px;
    }

    .title {
      font-size: 1.25rem;
      font-weight: bold;
      color: white;
    }
  }

  .header-right {
    display: flex;
    align-items: center;

    .search-bar {
      margin-right: 16px; /* Adjust spacing between search bar and buttons */
    }

    button.mat-icon-button {
      margin-left: 8px; /* Adjust spacing between menu buttons */
    }

    span {
      margin-left: 4px;
      color: white;
    }
  }
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh; /* Adjust as needed */
}

.detail-card {
  width: 80%;
}

.header-aligned {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-image {
  margin-right: 20px;
}

.card-title-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-button {
  margin-top: 10px;
  color: white;
  background-color: #00aa9b;
  margin-left: 1.5px;
}

.content-wrapper {
  margin-top: 20px;
}

.content-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px; /* Adjust spacing as needed */
}

.content-item h4 {
  margin: 0;
  margin-right: 8px; /* Adjust spacing as needed */
  font-weight: bold;
  line-height: 1.2;
}

.content-item p {
  margin: 0;
  line-height: 1.2;
}
