<div class="demo-page-header">
  <mat-toolbar class="mat-elevation-z4 mat-medium" color="primary" style="height: 120px; display: flex; justify-content: space-between; align-items: center;">
    <div> <!-- Left Content -->
      <a style="font-family: serif; font-size: x-large;">Workload Details</a>
    </div>
    <div> <!-- Center Content -->
      <a style="font-family: serif; font-size: xx-large;">KubeMorph</a>
    </div>
    <div> <!-- Right Content -->
      <img src="./assets/images/logo1.png" alt="logo" style="width: 150; height: 110px;">
    </div>
  </mat-toolbar>
</div>

<div class="main-content-test">
  <div class="container" (mouseenter)="showChoices = true" (mouseleave)="showChoices = false">
    <button class="custom-color" mat-fab>{{ buttonText }}</button>
    
    <div *ngIf="showChoices" class="choices">
      <button mat-icon-button (click)="selectChoice('Form')">
        <mat-icon class="icon-color">description</mat-icon>
      </button>
      <button mat-icon-button (click)="selectChoice('Yml File')">
        <mat-icon class="icon-color">note_add</mat-icon>
      </button>
      <button mat-icon-button (click)="selectChoice('Import Yml File')">
        <mat-icon class="icon-color">downloading</mat-icon>
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>




