<demo></demo>
<mat-toolbar id="custom-toolbar">
  <div class="header-content">
    <button mat-icon-button (click)="goBack()" aria-label="Go Back" >
      <img src="assets/images/arrow_back_.svg" alt="Go Back Icon">
    </button>

    <button class="butt" mat-raised-button  id="resources" [matMenuTriggerFor]="exampleMenu">
      <mat-icon>menu</mat-icon> {{ selectedSetName }} {{ selectedExampleName }}
    </button>
    <mat-menu #exampleMenu="matMenu" class="example-menu">
      <button mat-menu-item class="mat-medium" *ngFor="let example of examples['ng-jsf'].schemas" (click)="loadSelectedExample('ng-jsf', '', example.file, example.name)">
        {{ example.name }}
      </button>
      <button mat-menu-item class="mat-medium" *ngFor="let example of examples['asf'].schemas" (click)="loadSelectedExample('asf', '', example.file, example.name)">
        {{ example.name }}
      </button>
    </mat-menu>


    <div class="spacer"></div>

    <div class="add-icon">
      <button mat-icon-button [matMenuTriggerFor]="add" aria-label="Example icon-button with a menu">
        <img src="assets/images/add_circle_.svg" alt="Go Back Icon">
      </button>
      <mat-menu #add="matMenu">
        <button mat-menu-item [routerLink]="['/create-dynamicform']">
          <span>Form</span>
        </button>
        <button mat-menu-item [routerLink]="['/create-ymlfile']">
          <span>Yaml</span>
        </button>
      </mat-menu>
    </div>



    <div class="icons-container">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <img src="assets/images/3pt.svg" alt="Three Dots Icon">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>List Resource</span>
        </button>
        <button mat-menu-item routerLink="/monitoring">
          <mat-icon>settings_heart</mat-icon>
          <span>Monitoring</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="helm" #menuTrigger>
          <mat-icon>notifications_off</mat-icon>
          <span>Helm</span>
        </button>
        <mat-menu #helm="matMenu">
          <button mat-menu-item routerLink="/helm">Artifact Hub</button>
          <button mat-menu-item routerLink="/helm-release">Releases</button>
        </mat-menu>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="space-around start" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="flex-start center">
  <mat-card fxFlex="0 0 calc(50% - 12px)">
    <h4 class="default-cursor" (click)="toggleVisible('form')">
      {{visible.form ? '▼' : '▶'}} {{ selectedExampleName }}
    </h4>
    <div *ngIf="visible.form" class="json-schema-form" [@expandSection]="true">
      <div *ngIf="!formActive">{{jsonFormStatusMessage}}</div>
      <!-- This is the form! -->
      <json-schema-form
        *ngIf="formActive"
        loadExternalAssets="true"
        [form]="jsonFormObject"
        [options]="jsonFormOptions"
        [framework]="selectedFramework"
        [language]="selectedLanguage"
        (onChanges)="onChanges($event)"
        (onSubmit)="onSubmit($event)"
        (isValid)="isValid($event)"
        (validationErrors)="validationErrors($event)">
      </json-schema-form>
    </div>
    <hr>
    <h4 class="default-cursor" (click)="toggleVisible('output')">
      {{visible.output ? '▼' : '▶'}} Form Output
    </h4>
    <div *ngIf="!visible.output" fxLayout="column" [@expandSection]="true">
      <div>
        Valid?:
        <strong *ngIf="formIsValid || prettyValidationErrors" [class.text-success]="formIsValid" [class.text-danger]="!formIsValid">
          {{formIsValid ? 'Yes' : 'No'}}
        </strong>
        <span *ngIf="!formIsValid && !prettyValidationErrors">n/a</span>
        <span *ngIf="prettyValidationErrors">— errors from validationErrors():</span>
        <div *ngIf="prettyValidationErrors" class="data-bad" [innerHTML]="prettyValidationErrors"></div>
      </div><br>
      <div>
        Live data — from onChanges():
        <pre [class.data-good]="!prettyValidationErrors && prettyLiveFormData !== '{}'" [class.data-bad]="prettyValidationErrors">{{prettyLiveFormData}}</pre>
      </div><br>
      <div>
        Submitted data — from onSubmit():
        <pre [class.data-good]="prettySubmittedFormData !== 'null'">{{prettySubmittedFormData}}</pre>
      </div>
    </div>
  </mat-card>
</div>
