#custom-toolbar {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f5f5f5;
}
#resources{
  margin-left: auto;

}
.spacer {
  flex: 1; /* Takes up remaining space */
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.left-button {
  margin-right: 650px;
}
.butt{
  background-color: #00aa9b;
  color: white;
}
.example-menu{
  overflow-y: auto;
}
.menu-label {
  margin: 0 16px;
}

.mat-card {
  margin: 16px 0;
  padding: 16px;
}

.default-cursor {
  cursor: pointer;
}

.json-schema-form {
  padding: 16px 0;
}

.data-good {
  color: green;
}

.data-bad {
  color: red;
}

.icons-container {
  display: flex;
  align-items: center;
}

.search-icon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.search-field {
  width: 200px;
  transition: width 0.3s ease;
}

.search-field[hidden] {
  width: 0;
}

.add-icon {
  margin-left: auto;
}
